/* General Styles */
#form-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Form Container */
form {
  background-color: rgb(225, 225, 230);
  padding: 30px;
  border-radius: 8px;
  width: 800px;
  max-width: 100%;
}

/* Form Input Styles */
form div {
  margin-bottom: 15px;
}

/* Labels */
label {
  display: block;
  font-size: 16px;
  color: #000317;
  margin-bottom: 5px;
}
input,
textarea,
select {
  background-color: rgb(225, 225, 230);
}
/* Input Fields */
input[type='text'],
input[type='email'],
input[type='date'],
input[type='number'],
textarea,
select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #9f9e9e;
  border-radius: 4px;
  margin-top: 5px;
  color: #000317;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='date']:focus,
input[type='number']:focus,
textarea:focus,
select:focus {
  border-color: #061d61;
  outline: none;
}

/* Textarea Style */
textarea {
  resize: vertical;
  height: 100px;
}

/* Submit Button */
button {
  width: 100%;
  padding: 10px;
  background-color: #000317 !important;
  color: #ccc;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
