@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #010415;
}

.no-wrap {
  white-space: nowrap;
  overflow: hidden; /* Hide overflowed text */
  text-overflow: ellipsis; /* Show ellipsis for overflowed content */
}
